* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*FONTS*/

/*font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

.oxygen {
	font-family: 'Oxygen', sans-serif;
}

.ubuntuh {
	font-family: 'Ubuntu', sans-serif;
}

.ubuntup {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.pro {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-image: url("../images/bg.jpg");
}

.bg-dark {
	background-color: black!important; 
}

.bg-darklight {
	background-color: #363636;
}

.container-fluid {
	padding: 0;
}

.navbar {
	height: auto;
}


.carousel-indicators {
	bottom: 0;
}

.carousel-css {
	margin: 0;
	padding-top: 24.5px;
	height: 50px;
	background-color: rgba(0, 0, 0, 1);
}

.carousel-caption-css {
	left: 0;
	right: 0;
	bottom: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.carousel-indicators {
	padding: 0;
}

.carousel-indicators li {
	width: 300px;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.carousel-indicators .active {

	background-color: rgba(100, 100, 100, .5);

}

.carousel-indicators li::before {
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 0%;
    height: 0px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    top: -0px;
    left: 0;
    display: inline-block;
    width: 0%;
    height: 0px;
    content: "";
}

.ml-lg-10 {
	margin-left: 10rem!important;
}

.height-20 {
	height: 10vh;
}

.height-20 {
	height: 20vh;
}

.height-30 {
	height: 30vh;
}

.height-50 {
	height: 50vh;
}

.height-70 {
	height: 70vh;
}

.height-100 {
	height: 100vh;
}

.no-height {
	height: 3px;
}

.for-space {
	height: 2.5vh;
}

.for-space-mini {
	height: 0.25vh;
}

.height-50 {
	min-height: 50vh;
	height: auto;
}

.width-button-fix {
	width: 100px;
}

.shadow-lg-mod {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.775) !important;
}

.card {
	width: 18rem;
}

.gallery-items img {
	height: 15rem;
}

#jumbotron-about {
	background-color: #141414;
	height: 70vh;
	border-radius: 0;
	margin-bottom: 0;	 
}


#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.about-tags {
	font-weight: bold;
	text-shadow: 3px 2px 3px lightgrey;
}

#mission {
	height: 100%;
/*	background: #141414;
	color: #f2f2f2;*/
}

#vision {
	height: 100%;
}

.fadeIn {
	animation-duration: 5s;
}

.career {
	text-decoration: none;
}

.for-follow-us {
	height: 30px;
	width: 70px;
	float: left;
}

#sidebar-gallery {
	/*position: absolute	;*/
}

.card-gallery {
	height: 35em;
	width: 100%;
}

.card-gallery > .card-img-top {
	height: 45%;
}

.card-gallery .btn {
	/*margin-top: auto;*/
}

#jumbotron2-gallery {
	height: 20vh;
}
















/*MEDIA QUERIES-----------------------------*/

/*desktop view*/

@media only screen and (min-width: 960px) and (max-width: 4000px) {

	.carousel-img {
	height: 73vh;
	width: 100%;
	}

	.no-desktop {
		display: none;
	}

	.dropdown-menu {
		min-width: 30rem;
		z-index: 2000;
	}

	.form-left {
		padding-left: 3rem!important;
	}

	#gmaps{
	width: 80%;
	height: 83.5%;
	}

	

	.disclaimer {
		border-right: 1px solid grey;
	}


	.follow-us {

		border-left: 1px solid grey;
	}

}

/*tablet view*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

	.no-tablet {
		display: none;
	}

	.carousel-img {
	height: 50vh;
	width: 100%;
	}
	.navbar-brand {
		display: none;
	}

	.mx-auto {
		margin-left: 0!important;
	}

	a.nav-link {
		text-align: center;
	}

	.gmaps-title {
		text-align: center;
	}

	.card-gallery > .card-img-top {
	height: 60%;
	}

	.no-both {
		display: none;
	}

	.card-gallery {
	height: auto;
	width: 100%;
	}
}
/*mobile view*/

@media only screen and (max-width: 400px) {

	.no-mobile {
		display: none;
	}

	.carousel-img {
	height: 38vh;
	width: 100%;
	}
	.navbar-brand {
		display: none;
	}

	.navbar-toggler {
		width: 100%;
	}

	a.nav-link {
		text-align: center;
	}

	.card {
	margin-top: 1rem;
	}

	#landing-about{
		font-size: 3em;
	}

	.no-both {
		display: none;
	}

	.card-gallery {
	height: auto;
	width: 100%;
	}


}











#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
/*    min-width: 100%; 
    min-height: 100%;*/
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 50;
    top: 50;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}