* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*FONTS*/

/*font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;*/

.oxygen {
	font-family: 'Oxygen', sans-serif;
}

.ubuntuh {
	font-family: 'Ubuntu', sans-serif;
}

.ubuntup {
	font-family: 'Ubuntu Condensed', sans-serif;
}

body {
	background-image: url("../images/bg.jpg");
}

.bg-dark {
	background-color: black!important; 
}

.bg-darklight {
	background-color: #363636;
}

.container-fluid {
	padding: 0;
}

.navbar {
	height: auto;
}


.carousel-indicators {
	bottom: 0;
}

.carousel-css {
	margin: 0;
	padding-top: 24.5px;
	height: 50px;
	background-color: rgba(0, 0, 0, 1);
}

.carousel-caption-css {
	left: 0;
	right: 0;
	bottom: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.carousel-indicators {
	padding: 0;
}

.carousel-indicators li {
	width: 300px;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.carousel-indicators .active {

	background-color: rgba(100, 100, 100, .5);

}

.carousel-indicators li::before {
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 0%;
    height: 0px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    top: -0px;
    left: 0;
    display: inline-block;
    width: 0%;
    height: 0px;
    content: "";
}

.ml-lg-10 {
	margin-left: 10rem!important;
}

.height-20 {
	height: 10vh;
}

.height-20 {
	height: 20vh;
}

.height-30 {
	height: 30vh;
}

.height-50 {
	height: 50vh;
}

.height-70 {
	height: 70vh;
}

.no-height {
	height: 3px;
}

.for-space {
	height: 2.5vh;
}

.height-50 {
	min-height: 50vh;
	height: auto;
}

.shadow-lg-mod {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.775) !important;
}

.card {
	width: 18rem;
}

/*MEDIA QUERIES-----------------------------*/

/*desktop view*/

@media only screen and (min-width: 960px) and (max-width: 4000px) {

	.carousel-img {
	height: 73vh;
	width: 100%;
	}

	.no-desktop {
		display: none;
	}


}

/*tablet view*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

	.no-tablet {
		display: none;
	}

	.carousel-img {
	height: 50vh;
	width: 100%;
	}
	.navbar-brand {
		display: none;
	}

	.mx-auto {
		margin-left: 0!important;
	}

	a.nav-link {
		text-align: center;
	}

}
/*mobile view*/

@media only screen and (max-width: 400px) {

	.no-mobile {
		display: none;
	}

	.carousel-img {
	height: 38vh;
	width: 100%;
	}
	.navbar-brand {
		display: none;
	}

	.navbar-toggler {
		width: 100%;
	}

	a.nav-link {
		text-align: center;
	}

	.card {
	margin-top: 1rem;
}

}